<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="resources/css/style.css" type="text/css"/>
     <link rel="stylesheet" href="vendors/css/normalize.css">
    <link rel="stylesheet" href="vendors/css/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css">
    <script type="text/javascript" src="https://unpkg.com/popper.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
   
</head>

<body>
  <header>
      <nav>
      <div class="row nav-img" id="navbar">
          <img src="https://i.pinimg.com/originals/db/71/9c/db719c31274fc0d0d935a7271a4cdebd.jpg" alt="Omnifood Logo" class="logo">
          <ul class="main-nav">
            <li><a href="#/">Home</a> </li>
            <li><a href="#/aboutus">About Us</a> </li>
            <li><a href="#/products">Products</a> </li>
            <li><a href="#/contact">Contact</a> </li>
          </ul>
      </div>
      </nav>
  </header>
  
</body>
</html>